@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import "tailwindcss";

@theme{
  --font-sen: "Sen", sans-serif;

  --color-grn: rgba(11, 93, 62, 1);
  --color-grn2: rgba(177, 186, 118, 1);
  --color-grn3: rgba(194, 217, 176, 1);
  
  --color-org: rgba(234, 120, 15, 1);
  --color-org2: rgba(249, 199, 132, 1);
  
  --color-wht: rgba(236, 231, 226, 1);
  --color-wht2: rgba(243, 243, 243, 1);

  --color-bg: #fffded;

  @keyframes bouncing {
    0%, 100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
  }

  --animate-bouncing: bouncing 2s ease-in-out infinite;
}

html{
  scroll-behavior: smooth;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scroll-behavior: smooth;
  background-color: white;

  min-width: 320px;
  min-height: 100vh;
}

.underline-link {
  position: relative;
  display: inline-block; 
}

.underline-link::after {
  content: '';
  position: absolute;
  width: 0%; 
  height: 2px; 
  bottom: 0;
  left: 0;
  background-color: black; 
  transition: width 0.3s ease-in-out; 
}

.underline-link:hover::after {
  width: 100%;
}